<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>
    <div class="top-header">
        <div class="content-1">
            <div class="search">
                <img src="https://media.geeksforgeeks.org/gfg-gg-logo.svg" />
                <input type="text" placeholder="Search" />

            </div>
            <div class="top-navbar">
                <ul>
                    <li>
                        <a href="">Courses</a>
                    </li>
                    <li>
                        <a href="">Courses</a>
                    </li>
                    <li>
                        <a href="">Courses</a>
                    </li>
                    <li>
                        <a href="">Courses</a>
                    </li>
                </ul>
            </div>
            <div class="sign">
                <button>
                    <i class="fa-regular fa-sun"></i>
                </button>
                <button>
                    <i class="fa-regular fa-bell"></i>
                </button>
                <button>
                    Sign
                </button>
            </div>
        </div>
    </div>   
    <div class="navbar">
        <div class="content-2">
            <ul>
                <li>
                    <a href="">DSA</a>
                </li>
                <li>
                    <a href="">C</a>
                </li>
                <li>
                    <a href="">C++</a>
                </li>
                <li>
                    <a href="">Java</a>
                </li>
                <li>
                    <a href="">Java</a>
                </li>
                <li>
                    <a href="">Java</a>
                </li>
                <li>
                    <a href="">Java</a>
                </li>
            </ul>
        </div>
    </div>   
    <div class="hero">
        <div class="content-2">
            <h1>Hello, What Do You Want To Learn?</h1>
            <input type="text" placeholder="Type Your Corse Name Here..."/>
        </div>
    </div>   
    <div class="container"></div>
    <div class="top-footer">
        <div class="content-1">
            <div class="footer-left">
                <img src="https://media.geeksforgeeks.org/auth-dashboard-uploads/gfgFooterLogoDark.png" />
                
                    
                <p>
                    <i class="fa-solid fa-map-pin text-green"></i>
                    <b>Corporate & Communications Address:</b>
A-143, 7th Floor, Sovereign Corporate Tower, Sector- 136, Noida, Uttar Pradesh (201305)</p>
                
            </div>
            <div class="footer-right"></div>
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>